
:root{
 --primary-color: #4C243B;
 --secondary-color:#AC7B84;
 --auxilliary-color:#fff;
 --padding-horizontal:100px;
 --card-background-color:#FFEFF2;


}
body , h1, h3, p {
    margin:0;
    font-family: "Poppins",sans-serif;
    

}

nav{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 150px;
     padding: 20px 150px 20px 150px;
}
nav>div>a{
    color:lightcoral;
    text-decoration: none;
    font-size: 20px;   
}


nav>span>h1{
    color: #fff;
    margin-left: 4px;
}
.logo{
    display: flex;
    
}

#homeSection{
    display:flex;
    background-color: lightcyan;
    height: 80vh;
    align-items: center;
    padding-left:varal(--padding-horizontal);
    padding-right:varal(--padding-horizontal);
    

}
#homeSection > img{
    aspect-ratio: 1/1 ;
    width:380px;
    height: 400px;
    border-radius: 50%;


}
#homeSection > div{
    padding-left: 120px;
    width: 50%;
}
#homeSection > div > h1{
    font-size: 48px;
    margin: 0;
    color: var(--primary-color)
    

}
#homeSection>div>p{
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
    color: var(--secondary-color);

}
#homeSection > div > button{
    all: unset;
    background-color: var(--primary-color);
    color:#fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;
}
#homeSection > div > button:hover{
    cursor: pointer;
    background-color: lightsalmon;
}
#projectSection{
    height:80vh;
}
#projectSection >.projects{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    
}
#projectSection>div>h1{
    color:var(--primary-color);
    font-size: 40px;
    text-align: center;
}
#projectSection>div>p{
    color: var(--secondary-color);
    font-weight: 300;
    text-align: center;
    margin: 0;
}
#projectSection>div>.card{
    background-color: var(--card-background-color);
    width: 311px;
    height: 355px;
    border-radius: 30px;
    margin:10px;
    padding: 16px;
}
#projectSection>div>.card>button{
    all: unset;
    background-color: var(--primary-color);
    color:#fff;
    width: 80%;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;

}
#projectSection>div>.card>button:hover{
     cursor: pointer;
    background-color: lightsalmon;
}
#projectSection> div >.card>img{
    width: 280px;
    height: 153px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

}
#projectSection>div>.card>h3{
    color: var(--primary-color);
    font-size: 24px;
     margin-top:16px;

}
#projectSection>div>.card>p{
    color: var(--secondary-color);
    font-size: 12px;
    margin-top: 12px;
}
#contactSection{
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    height:60vh;

}
#contactSection>form{
    padding: 24px;
    width:60vw;
    background-color: var(--secondary-color);
    border-radius: 30px;
    margin:auto;
    margin-top: 24px;

}
#contactSection>form>h3{
    color: var(--primary-color);
    text-align: center;
    font-size: 36px;
    border-radius: 30px;
    margin-bottom: 24px;
    margin-top: 0px;

    
}
#contactSection>form>div>div{
    color: var(--primary-color);
    padding-left: 24px;
    padding-right: 24px;

}
#contactSection>form> .usermessage{
    margin-top: 16px;
    padding-left:10px;
    padding-right: 10px;
}

#contactSection>form>.userNameEmail, .userAgeBirthday{
    display: flex;
}
#contactSection>form> .userNameEmail ,.userAgeBirthday > div>label{
   font-weight: 500;
   color: var(--primary-color);

}
#contactSection>form> .userNameEmail>div>input{
    border-radius: 12px;
    width:14vw;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: var(--primary-color);
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 8px ;
    height:30px;
    

}
#contactSection>form> .userAgeBirthday>div>input{
    border-radius: 12px;
    width: 14vw;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: var(--primary-color);
    font-size: 12px;
    margin-right: 20px;
    margin-bottom: 8px ;
    height:30px;
    

}
#contactSection>form>div>label{
    font-weight: 500;
    color: var(--primary-color);
}
#contactSection>form>div>textarea{
    border-radius: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: var(--primary-color);
    font-size: 12px;
    width: 90%;
    height: 100px;

    
    
}
#contactSection>form>div>button{
    all: unset;
    background-color: var(--primary-color);
    color:#fff;
    width: 80%;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;
    display: block;
    margin:auto;
    transition:1s;

}
#contactSection>form>div>button:hover{
     cursor: pointer;
    background-color: lightsalmon;
}


